<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Courses App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/add">Add course</a></li>
        </ul>
        <ul id="slide-out" class="sidenav">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/add">Add course</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="right sidenav-trigger"><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
    
</nav>

