/* ===== Grid ===== */

.container .row {
    display: flex;
    flex-wrap: wrap;
}

.row .col.m6 {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    .container .row {
        flex-direction: column;
    }
}


/* ===== Navbar ===== */

.nav-wrapper {
    padding: 0 2rem;
}


/* ===== Sidenav ===== */

a.sidenav-trigger {
    color: #000;
    font-size: 1.5rem;
}

@media (min-width: 992px) {
    .sidenav-trigger {
        display: none;
    }
}


/* ===== Card ===== */

.card-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* ===== Price ===== */

.price {
    font-size: 2rem;
}

.price.big {
    font-size: 3rem;
}


/* ===== Course ===== */

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.course img {
    max-width: 600px;
    height: auto;
}


/* ===== Auth ===== */

.auth,
.auth .login,
.auth .register {
    padding-top: 1.5rem;
}


/* ===== Alert ===== */

.alert {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgba(255, 0, 0, .3);
    color: red;
}